.search {
  position: relative;
  &__form {
    max-width: 331px;
    display: flex;
    gap: 10px;
    border: 1px solid #d7d7d7;
    transition: border-color 0.3s;
    &--submit {
      border-color: green;
    }
    &--active {
      border-color: #474747;
    }
  }

  &__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border-top: none;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    &__item {
      padding: 8px 12px;
      cursor: pointer;
      border-bottom: 1px solid #e9e9e9;
      border-right: 1px solid #d7d7d7;
      border-left: 1px solid #d7d7d7;
      animation: fadeIn 0.2s ease forwards;
      animation-delay: var(--animation-delay, 0s);
      opacity: 0;
      transition: all 0.2s;
      &:last-child {
        border-bottom: 1px solid #d7d7d7;
      }
      &--active {
        background-color: #bde4ff;
      }
      &-active-text {
        color: #939393;
      }
    }
  }
  &__result {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
